<div class="container masthead hidden-md-down">
  <div class="row">
    <div class="col-lg-12">
      <nav>
        <a href="{{ "/" | relative_url }}">About</a>
        <a href="{{ "/projects" | relative_url }}">Projects</a>
        <a href="{{ "/blog" | relative_url }}">Blog</a>
        <a href="{{ "/contact" | relative_url }}">Contact</a>
      </nav>
      <img class="masthead-img" src="/assets/img/nenegoose.png">
      <h1>Bryson Lee</h1>
      <h2>Software Engineer in Creative Technology</h2>
    </div>
  </div>
</div>