<div class="small-bar pos-f-t hidden-lg-up sticky-nav">
  <div class="collapse" id="hamcontent">
    <div class="bg-inverse p-4">
      <p>{% include profile_description.html %}</p>
      <ul>
        <li><a class="nav-item" href="{{ "/" | relative_url }}">About</a></li>
        <li><a class="nav-item" href="{{ "/projects" | relative_url }}">Projects</a></li>
        <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
      </ul>
      <p>(808) 391-5739<br />brysonhlee@gmail.com</p>
    </div>
  </div>
  <nav class="navbar navbar-inverse bg-inverse">
    <button class="navbar-toggler d-inline" type="button" data-toggle="collapse" data-target="#hamcontent" aria-controls="hamcontent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand d-inline">Bryson Lee</span>
  </nav>
</div>