<div class="fixed-top d-lg-none navbar-wrapper">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">Bryson Lee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <a class="d-block bg-dark navbar-link" href="{{ '/' | relative_url }}">About</a>
    <a class="d-block bg-dark navbar-link" href="{{ '/projects' | relative_url }}">Projects</a>
    <a class="d-block bg-dark navbar-link" href="{{ '/blog' | relative_url }}">Blog</a>
  </div>
</div>