<header>
  <div class="container">
    <div class="masthead">
      <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" width="70" height="70" /></a> -->

      <canvas id="canvas" width="500" height="700"></canvas>
      <!-- <div id="octo"></div> -->

      <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
      </div>
    
      <nav class="nav-menu">
        {% for item in site.navigation_links %}
        <a class="nav-menu-item {% if page.url == item.url %} active {% endif %}" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
      </nav>

    </div>
  </div>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/octo_new.js"></script>
<script src="{{ base.url | prepend: site.url }}/assets/js/lazyload.js"></script>