<div class="sidebar-fix sticky">
  <!--
  <div class="portrait siema hidden-xs-down">
    <div><img src="/assets/img/download.jpg" class="img-fluid"></div>
    <div><img src="/assets/img/matterhorn_square.png" class="img-fluid"></div>
    <div><img src="/assets/img/audition_square.png" class="img-fluid"></div>
  </div>
    -->
  <h2>Bryson Lee</h2>
  <div class="sidebar-section">
    <p class="description">Pipeline engineer/TD in Animation, VFX, Cinematics, and Games. Incoming Research and Development Engineering Intern at <a href="http://www.blizzard.com/" target="_blank">Blizzard Entertainment</a>.</p>
    <ul>
      <li><a href="{{ "/" | relative_url }}">About</a></li>
      <li><a href="{{ "/projects" | relative_url }}">Projects</a></li>
      <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
    </ul>
  </div>
  <h2>Contact</h2>
  <div class="sidebar-section">
    <p>(808) 391-5739</p>
    <p>brysonhlee@gmail.com</p>
    <a href="https://github.com/bryhlee">Find me on Github</a><br />
    <div class="social-media">
      <a href="emailto:brysonhlee@gmail.com" target="_blank"><img src="/assets/img/email.png" class="icon" alt="Email me"></a>
      <a href="https://www.linkedin.com/in/bryhlee/" target="_blank"><img src="/assets/img/linkedin.png" class="icon" alt="Find me on Linkedin"></a>
      <a href="https://www.linkedin.com/in/bryhlee/"><img src="/assets/img/github.png" class="icon" alt="Find me on Medium"></a>
      <a href="https://vimeo.com/user80015403" target="_blank"><img src="/assets/img/vimeo.png" class="icon" alt="Find me on Vimeo"></a>
    </div>
  </div>
</div>

<script src="/assets/js/main.js"></script>