<div class="sidebar-fix">
  <img src="/assets/img/portrait.jpg" class="img-fluid portrait hidden-xs-down" alt="Responsive image">
  <h1>Bryson Lee</h1>
  <div class="profile-info">
    <p class="description">Pipeline engineer at Industrial Light and Magic. Blah bah. blah balh hada. Bdadsa,</p>
    <ul>
      <li><a href="{{ "/" | relative_url }}">About</a></li>
      <li><a href="{{ "/projects" | relative_url }}">Projects</a></li>
      <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
    </ul>
  </div>
  <h1>Contact</h1>
  <div class="contact-info">
    <p>(808) 391 5739</p>
    <p>brysonhlee@gmail.com</p>
    <p></p>
    <a href="https://github.com/bryhlee">Find me on Github</a><br />
    <div class="social-media">
      <a href="https://www.linkedin.com/in/bryhlee/"><img src="/assets/img/letter.png" class="icon" alt="Email me"></a>
      <a href="https://www.linkedin.com/in/bryhlee/"><img src="/assets/img/linkedin.png" class="icon" alt="Find me on Linkedin"></a>
      <a href="https://www.linkedin.com/in/bryhlee/"><img src="/assets/img/medium.png" class="icon" alt="Find me on Medium"></a>
      <a href="https://www.linkedin.com/in/bryhlee/"><img src="/assets/img/vimeo.png" class="icon" alt="Find my reel on Vimeo"></a>
    </div>
  </div>
</div>
