// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #666666;
$lightGray: #EEEEEE;
$paleGray: #DDDDDD;
$darkGray: #333333;
$darkerGray: #222222;

// Theme Colors
$orange: #D07E5F;
$pink-1: #9C449D;
$pink-2: #F299C1;
$navy-1: #373b8e;
$navy-2: #19196E;
$navy-3: #191970;
$navy-4: #202038;
$purple-1: #77508e;
$purple-2: #302431;
$purple-3: #462d48;

$sage-1: #1a775e;
$sage-2: #046E72;
$sage-3: #034e50;
$magenta: #5B314C;
$teal: #00A3BC;
$red: #E60047;
$red-2: #bc0640;
$yellow: #E5D988;
$blue: #349be5;