---
---

/* Import URLs */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
}

#return-to-top {
  /* Top attribute is automatically recalc'd in main.js */
  font-size: 12px;
  letter-spacing: 1px;
  display: none;
  margin-left: 4px;
  color: #333333;

  .svg-inline--fa {
    margin-right: 6px;
  }

  &:hover {
    cursor: pointer;
  }
}

#egggif {
  position: absolute;
  top: 30px;
  left: auto;
  right: auto;
  display: none;
}

/* Wrapper for navbar and navbar collapse content on sm and lower devices */
.small-bar {

  margin-bottom: 20px;
  font-family: 'Helvetica','Source Sans Pro', 'Helvetica', serif;

  a {
    color: #a5a5a5;
    border-bottom: 1px dotted #a5a5a5;
    text-decoration: none;
    font-size: 18px;

    &:hover {
      border-bottom: 1px solid #a5a5a5;
    }
  }

  ul {
    color: #a5a5a5;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-left: 25px;
  }

  p {
    color: #a5a5a5;
    margin-bottom: 0px;
  }

  .navbar-brand {
    float: right;
    margin-left: 12px;
    font-family: 'Raleway', 'Source Sans Pro', 'Helvetica', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  nav {
    flex-direction: row;
  }
}

/* Wrapper for entire website */
.container-wrapper {
  max-width: 940px;
  padding-bottom: 30px;

  @media (min-width: 576px) {
    margin-top: 0px;
  }
  @media (min-width: 767px) {
    margin-top: 30px;
  }

  /* Font Styling */
  /* TODO: Remove text styling from everwhere else if possible */
  font-family: 'Helvetica','Source Sans Pro', 'Helvetica', serif;

  /* Link styling */
  a {
    color: #333333;
    border-bottom: 1px dotted #333333;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #333333;
    }
  }

  

  /* Wrapper for sidebar */
  .sidebar-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
    color: #333333;

    p > a, li > a {
      color: #333333;
      border-bottom: 1px dotted #333333; /* efefef */
    }

    h2 {
      font-family: 'Raleway', 'Source Sans Pro', 'Helvetica', serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .5px;
      margin-bottom: 14px;
      font-size: 24px;
    }

    .social-media {
      display: flex;
      justify-content: space-between;

      a {
        margin-bottom: 10px;
        border-bottom: 0px;
      }

      .icon {
        margin-top: 20px;
        width: 36px;
        text-decoration: none;
        border-radius: 2px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
    .sidebar-fix {
      border-radius: 3px;
      padding: 15px;
      background-color: #f5f5f5; /* #1E232B; */
      border: 2px solid #292b2c;
    }

    .portrait {
      @media (max-width: 767px) {
        width: 200px;
        height: auto;
      }
      border: 1px solid #000000;
      margin-bottom: 14px;

      img {
        width: 205px; /* This can be removed when we manually set our portrait images to the same aspect ratio */
                      /* Simply change it back to 100% width and height auto */
        height: auto;
      }
    }

    .sidebar-section {
      margin-bottom: 14px;

      ul {
        padding-left: 25px;
        margin-top: 14px;
      }

      p {
        margin: 0;
      }
    }
  }

  /* Wrapper for main content */
  /* TODO: Get rid of this css block */
  .main-wrapper {

    .img-404 {
      width: 80px;
      margin-bottom: 30px;
    }

  }

  /* Wrapper for pages */
  .page {

    h1 {
      color: #333333;
      font-size: 34px;
      margin-bottom: 40px;
    }

    h1, h2 {
      font-family: 'Raleway', 'Source Sans Pro', 'Helvetica', serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .5px;
    }

    ul {
      padding-left: 25px;
      margin-bottom: 14px;
    }

    .page-header {
      margin-bottom: 24px;

      .page-title {
        overflow: hidden;  
        /* Removed due to it being unecessary
        padding-bottom: 3px;
        border-bottom: 2px solid #a5a5a5;
        */

        h1 {
          margin-bottom: 0px;
        }
      }

      .page-icon {
        vertical-align: middle;
        width: 40px;
        height: auto;
        margin-right: 10px;
        float: left;
      }
    }

    /* Markdown styling for page content */
    .page-content {

      #bio-portrait {
        /*
        margin-top: 10px;
        margin-bottom: 10px;

        max-width: 100%;
        display: block;
        margin: auto;
        */
        margin: 30px;
        object-fit: cover;
        width:230px;
        height:230px;
        float: left;
        display: none;
      }

      table {
        margin-bottom: 20px;
      }

      /* Override h2 for use in Markdown */
      h2 {
        padding-top: 14px; /* For section linking (HTML fragment supported) */
        margin-bottom: 16px;
        font-size: 24px;
        padding-bottom: 3px;
        border-bottom: 2px solid #a5a5a5;
      }

      blockquote {
        padding-left: 10px;
        border-left: 3px solid #a5a5a5;
      }

      .fa-ul {
        padding: 0px;
        margin-left: 30px;
        margin-bottom: 0px;
      }

      .svg-inline--fa {
        margin-right: 8px;
        color: #a5a5a5;
      }

      /* Entry for projects */
      .project-entry {
        margin-bottom: 20px;

        .project-title {
          padding-top: 0px;
          margin-bottom: 8px;
          font-size: 18px;
          vertical-align: middle;
          font-weight: 700;
          line-height: 22px;
        }

        p {
          margin-bottom: 10px;
        }

        .badge {
          margin-left: 6px;
          font-size: 12px;
          vertical-align: middle;
          background-color: #dc3545;
          border-radius: 3px;
        }

        img {
          width: 140px;
          height: auto;
          margin-right: 1rem; /* This is 1rem instead of 3px because bootstrap media objects are dumb */
        }
      }

      /* TODO: Remove this! */
      .timeline {
        @media (min-width: 767px) {
          padding-left: 20px;
          border-left: 4px solid #DDDDDD;
        }
      }

      /* Entries for resume */
      .resume-entry {
        padding-top: 4px;
        padding-bottom: -4px; /* simple fix to cancel out the margin from the last entry */
        margin-bottom: 24px;

        .resume-block {
          margin-bottom: 20px;

          .resume-block-title {
            margin-bottom: 4px;
            font-weight: 700;
          }

          p {
            margin-bottom: 0px;
          }

          img {
            width: 75px;
            height: auto;
            margin-right: 2rem; /* This is 1rem instead of 3px because bootstrap media objects are dumb */
          }
        }

        .resume-entry-title {
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 18px;
        }

        .resume-icon {
          @media (max-width: 767px) {
            margin-top: 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          width: auto;
          height: 80px;
          margin: 8px;
          -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
          filter: grayscale(20%);
          margin-top: 0px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        .resume-icon-subtitle {
          @media (max-width: 767px) {
            text-align: center;
          }
          font-weight: 700;
          text-align: center;
        }

        /* TODO: Turn these into media objects */
        .resume-container {
          margin-bottom: 24px;

          p {
            margin-bottom: 0px;
          }
  
          .resume-header-container {
            margin-bottom: 14px;

            .resume-header-text-container {
              display: inline-block;
              vertical-align: middle;

              .resume-header-title {
                /* font-family: 'Bitter', 'Open Sans', serif !important; */
                padding-top: 0px;
                font-size: 18px;
                display: inline-block;
                margin-bottom: 4px;
              }
            }

            img {
              display: inline-block;
              vertical-align: middle;
              width: 100px;
              height: auto;
              margin-right: 20px;
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    /* Wrapper for the post list main content */
    .post-list {
      margin-top: 40px;
      margin-bottom: 30px;

      .post-date {
        color: #222222;
        font-family: 'Menlo', sans-serif;
        font-size: 14px;
      }

      .post-seperator {
        margin-left: 4px;
        margin-right: 4px;
      }

      .badge {
        margin-left: 6px;
        font-size: 11px;
        vertical-align: middle;
        display: inline-block;
        background-color: #dc3545;
        border-radius: 3px;

        &::before {
          display: inline-block;
          vertical-align: middle;
          content: "";
          margin-right: 4px;
          margin-left: -9px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;   
          border-right: 6px solid #dc3545; 
        }
      }
    }
  }

  /* Wrapper for posts */
  .post {
    .post-header {
      margin-bottom: 32px;

      .post-title {
        margin-bottom: 10px;
        color: #333333;
        font-size: 28px;
        font-family: 'Raleway', 'Source Sans Pro', 'Helvetica', serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .5px;
      }
      .post-meta {
        .post-date {
          letter-spacing: 2px;
          color: #474747;
          font-size: 14px;
        }
      }
    }

    .post-content {
      margin-bottom: 40px;

      h1, h2, h3, h4 {
        font-weight: 700;
      }

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
      }

      img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      img + em {
        margin-top: 4px;
        display: block;
        text-align: center;
      }

      /* Code blocks */
      pre {
        border-radius: 4px;
        padding: 10px;
        background-color: #ECF4F6;
      }
    }

    .post-footer {
      font-size: 14px;
    }
  }
}
  