---
---

/* Import URLs */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap');

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 3;
}

#egggif {
  position: absolute;
  top: 30px;
  left: auto;
  right: auto;
  display: none;
}

body {
  line-height: 1.6;
  color: #444444;
  background-color: #fefefe;
  font-family: 'PT Serif', 'Georgia', serif;
}

h1, h2, h3 {
  font-weight: 700;
  color: #444444;
  // font-family: 'Merriweather', serif;
  // font-family: 'PT Serif', serif;
  // text-transform: uppercase;
  // letter-spacing: .3px;
}

/* Link styling */
a {
  color: #333333;
  border-bottom: 1px dotted #333333;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #014c8c;
    text-decoration: none;
  }
}

/* Wrapper for navbar and navbar collapse content on sm and lower devices */
.small-bar {
  a {
    color: #a5a5a5;
    border-bottom: 1px dotted #a5a5a5;

    &:hover {
      border-bottom: 1px solid #a5a5a5;
      text-decoration: none;
    }
  }

  ul {
    color: #a5a5a5;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-left: 25px;
  }

  p {
    color: #a5a5a5;
    margin-bottom: 0px;
  }

  nav {
    flex-direction: row;
  }

  .navbar-brand {
    float: right;
    margin-left: 12px;
    font-weight: 700;
    font-size: 24px;
  }
}

.masthead {
  // background-color: #E0E4CC;
  padding: 15px 15px 0px 15px;

  .container {
    position: relative
  }

  .masthead-container-wrapper {
    h1 {
      font-size: 72px;
      margin-bottom: 0px;
      font-family: 'Merriweather', serif;
      letter-spacing: 2px;
      color: #F38630;
      font-weight: 400;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 40px;
      font-family: 'Merriweather', serif;
    }

    nav {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 2;

      a {
        font-size: 22px;
        margin-left: 15px;
        border-bottom: 2px solid #333333;
        font-family: 'Merriweather', serif;

        &:hover {
          border-bottom: 2px solid #014c8c;
        }
      }
    }

    .masthead-img {
      margin-left: 40px;
      margin-right: 20px;
      float: left;
      width: 140px;
      // -webkit-transform: scaleX(-1);
      // transform: scaleX(-1);
    }
  }
}

/* Wrapper for entire website */
.container-wrapper {
  // max-width: 1000px;
  padding-bottom: 30px;
  margin-top: 30px;

  .social-media {
    display: flex;

    a {
      border-bottom: 0px;
    }

    .icon {
      margin-right: 14px;
      width: 36px;
      text-decoration: none;
      border-radius: 2px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  /* Wrapper for sidebar */
  .sidebar-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 15px;
    color: #333333;

    h2 {
      margin-bottom: 10px;
      // font-size: 24px;
    }

    .social-media {
      display: flex;
      justify-content: space-between;
      margin-right: 100px;

      a {
        margin-bottom: 10px;
        border-bottom: 0px;
      }

      .icon {
        margin-top: 20px;
        width: 36px;
        text-decoration: none;
        border-radius: 2px;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .portrait {
      @media (max-width: 767px) {
        width: 200px;
        height: auto;
      }
      border: 1px solid #000000;
      margin-bottom: 14px;

      img {
        width: 205px; /* This can be removed when we manually set our portrait images to the same aspect ratio */
                      /* Simply change it back to 100% width and height auto */
        height: auto;
      }
    }

    .sidebar-section {
      margin-bottom: 14px;

      ul {
        padding-left: 25px;
        margin-top: 14px;
      }

      p {
        margin: 0;
      }
    }
  }

  /* Wrapper for pages */
  .page {

    .page-content {

      #bio-portrait {
        margin: 30px;
        object-fit: cover;
        width:230px;
        height:230px;
        float: left;
        display: none;
      }

      table {
        margin-bottom: 20px;
      }

      h1 {
        margin-bottom: 20px;
      }

      /* Override h2 for use in Markdown */
      h2 {
        padding-top: 10px; /* For section linking (HTML fragment supported) */
      }

      h3 {
        padding-top: 10px; /* For section linking (HTML fragment supported) */
        font-size: 18px;
      }

      blockquote {
        padding-left: 10px;
        border-left: 3px solid #a5a5a5;
      }

      .fa-ul {
        padding: 0px;
        margin-left: 30px;
        margin-bottom: 0px;
      }

      .svg-inline--fa {
        margin-right: 8px;
        color: #6a6a6a;
      }

      /* Entry for projects */
      .project-entry {
        margin-top: 20px;

        p {
          margin-bottom: 10px;
        }

        .project-title {
          vertical-align: middle;
          font-weight: 700;
          line-height: 22px;
        }

        .badge {
          margin-left: 6px;
          font-size: 12px;
          vertical-align: middle;
          background-color: #dc3545;
          border-radius: 3px;
          font-family: 'Helvetica', serif;
        }

        img {
          width: 140px;
          height: auto;
          margin-right: 1rem; /* This is 1rem instead of 3px because bootstrap media objects are dumb */
        }
      }

      /* TODO: Turn these into media objects */
      .resume-container {
        margin-top: 20px;
        margin-bottom: 30px;

        p {
          margin-bottom: 0px;
        }

        .resume-header-container {
          margin-bottom: 18px;

          .resume-header-text-container {
            display: inline-block;
            vertical-align: middle;

            .resume-header-title {
              font-weight: 700;
              padding-top: 0px;
              display: inline-block;
              margin-bottom: 4px;
            }
          }

          img {
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            height: auto;
            margin-right: 20px;
            margin-bottom: 0px;
            border-radius: 5px;
          }
        }
      }
    }

    /* Wrapper for the post list main content */
    .post-list {
      margin-top: 30px;
      margin-bottom: 30px;

      .post-date {
        color: #222222;
        font-family: 'Menlo', sans-serif;
        font-size: 14px;
      }

      .post-seperator {
        margin-left: 4px;
        margin-right: 4px;
      }

      .badge {
        margin-top: 1px; // This is a small hack to fix the line height
        margin-left: 6px;
        font-size: 11px;
        vertical-align: middle;
        display: inline-block;
        background-color: #dc3545;
        border-radius: 3px;
        font-family: 'Helvetica', serif;

        &::before {
          display: inline-block;
          vertical-align: middle;
          content: "";
          margin-right: 4px;
          margin-left: -9px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;   
          border-right: 6px solid #dc3545; 
        }
      }
    }
  }

  /* Wrapper for posts */
  .post {
    .post-header {
      margin-bottom: 32px;

      .post-title {
        margin-bottom: 10px;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: .5px;
      }

      .post-meta {
        .post-date {
          letter-spacing: 2px;
          color: #474747;
          font-size: 14px;
        }
      }
    }

    .post-content {
      margin-bottom: 40px;

      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 18px;
      }

      img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      img + em {
        margin-top: 4px;
        display: block;
        text-align: center;
      }

      /* Code blocks */
      pre {
        border-radius: 4px;
        padding: 10px;
        background-color: #ECF4F6;
      }
    }

    .post-footer {
      font-size: 14px;
    }
  }
}
  