---
layout: default
---
<div class="page">

  {% include page_header.html %}

  <div class="page-content">
    {{ content }}
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%-d %b %Y" %}
        <span class="post-date">{{ post.date | date: date_format }}</span>      
        <span class="post-seperator">»</span>
        <b><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></b>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
