<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="container container-wrapper">
      <div class="row">
        <div class="col-md-3 col-xs-12 sidebar-wrapper">
          {% include sidebar.html %}
          <div id="return-to-top" class="sticky"><i class="fa fa-arrow-up sticky" aria-hidden="true"></i><span>RETURN TO TOP</span></div>
        </div>
        <div class="col-md-9 col-xs-12 main-wrapper">
          {{ content }}
        </div>
      </div>
    </div>
  </body>

</html>
