<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="container container-wrapper">
      <div class="row" style="margin-bottom: 15px">
        <div class="col-lg-12 col-xs-12">
          <!-- {% include navbar.html %} -->
          {% include masthead.html %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xs-12">
          {{ content }}
        </div>
      </div>
    </div>
  </body>

</html>
