---
layout: default
---

{{ content }}

{% for project in site.categories.projects %}
<div class="entry">
    <a class="entry-img" href="{{ project.url }}">
        <img src="{{ project.thumbnail }}">
    </a>
    <div class="entry-mobile-img-container">

        <a class="entry-mobile-img" href="{{ project.url }}">
            <img src="{{ project.thumbnail }}">
        </a>
    </div>

    <div class="entry-info">
        <a href="{{ project.url }}">
            <h1>{{ project.title }}</h1>
            <div class="divider"></div>
        </a>
        <p>{{ project.intro | default: project.excerpt| strip_html | strip_newlines | truncate: 140 }}</p>
        {% for tag in project.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}