---
layout: default
---

{{ content }}

{% assign project_posts = site.categories.projects %}
{% assign blog_posts = site.categories.blog | where: "project", true %}
{% assign all_posts = project_posts | concat: blog_posts %}
{% assign sorted_posts = all_posts | sort: 'date' | reverse %}

{% for project in sorted_posts %}
<div class="entry">
    <a class="entry-img" href="{{ project.url }}">
        <img src="{{ project.thumbnail }}">
    </a>
    <div class="entry-mobile-img-container">

        <a class="entry-mobile-img" href="{{ project.url }}">
            <img src="{{ project.thumbnail }}">
        </a>
    </div>

    <div class="entry-info">
        <a href="{{ project.url }}">
            <h1>{{ project.title }}</h1>
            <div class="divider"></div>
        </a>
        <p>{{ project.intro | default: project.excerpt| strip_html | strip_newlines | truncate: 140 }}</p>
        {% for tag in project.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{% endfor %}